@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 50px 0;
    scrollbar-width: none;
    background-color: #DAD7CD;
}

.bodycal {
    background: linear-gradient(#344E41, #A3B18A, #3A5A40);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 450px;
    width: 350px;
    box-shadow: 10px 15px 15px #344E41;
}

.screen {
    padding: 20px;
    height: 50px;
    border-radius: 20px;
    width: 270px;
    background-color: #A3B18A;
    margin: 0 auto;
    box-shadow: 5px 5px 20px #344E41;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 14px 0;
}

.firstrow {
    margin-top: 28px;
}

.btn {
    background-color: #dde5b6;
}

.op {
    background-color: #adc178;
}

button {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border-radius: 50px;
    padding: 0 20px;
    width: 20px;
    text-align: center;
    line-height: 25px;
    display: flex;
    justify-content: center;
    border-color: #344E41;
}

button:active {
    box-shadow: 3px 3px 20px #344E41;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}