@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.bodycal {
    background-color: red;

}

.screen {
    padding: 20px;
    height: 20px;
    width: 300px;
    background-color: green;
    margin: 0 auto;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}