@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.bodycal {
    background-color: orange;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 400px;
    width: fit-content;
}

.screen {
    padding: 20px;
    height: 20px;
    width: 300px;
    background-color: lightcoral;
    margin: 0 auto;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}